<nav class="cw fixed w-full border-b border-gray-500 bg-gray-950 z-50 h-16">
  <div class="max-w-screen-xl mx-auto flex items-center px-2 py-2">
    <!-- Logo -->
    <div class="flex items-center gap-2">
      <img
        src="https://img.icons8.com/?size=100&id=111180&format=png&color=228BE6"
        class="h-7"
        alt="CineWay Logo"
      />
      <span class="text-xl font-semibold text-heading">CineWay</span>
    </div>

    <div class="hidden md:flex flex-1 items-center justify-between ml-12">
      <!--  Search -->
      <div class="search-container">
        <svg class="search-icon w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-4.35-4.35m1.85-5.4a7.25 7.25 0 11-14.5 0 7.25 7.25 0 0114.5 0z"
          />
        </svg>
        <input type="text" placeholder="Search for movies..." class="search-input" />
      </div>

      <!--  Tabs + Auth -->
      <div class="flex items-center gap-8">
        @if (isAuth()){
        <div class="flex items-center gap-6">
          <a href="#" class="cw-li-navbar">Movies</a>
          <a href="#" class="cw-li-navbar">Cinemas</a>
          <a href="#" class="cw-li-navbar">Special Offers</a>
        </div>
      <div class="relative ml-auto">
  <!-- Avatar button -->
  <button
    class="flex items-center gap-2 focus:outline-none"
    (click)="toggleMenu()"
  >
    <img
      [src]="user()?.profile_picture_url 
        ? user()!.profile_picture_url 
        : '/assets/avatar.png'"
      alt="User avatar"
      class="w-10 h-10 rounded-full object-cover border border-gray-600"
    />
    <span class="hidden lg:block text-sm text-gray-200">
      {{ user()?.full_name }}
    </span>
    <i class="bi bi-chevron-down text-xs"></i>
  </button>

  <!-- Dropdown -->
  @if (menuOpen) {
    <div
      class="absolute left-0 mt-2 w-44 bg-gray-900 border border-gray-700  shadow-lg overflow-hidden z-50"
    >
      <button
         [routerLink]="APP_ROUTES.profile"
        class="w-full text-left px-4 py-2 text-sm text-gray-400 hover:bg-gray-800"
      >
      <i class="bi bi-person"></i>
       View Profile
  </button>

      @if (user() && user()!.is_admin) {
      <div class="border-t border-gray-700"></div>
      <button
         [routerLink]="'/admin/overview'"
        class="w-full text-left px-4 py-2 text-sm text-blue-400 hover:bg-gray-800"
      >
      <i class="bi bi-sliders"></i>
       Admin Dashboard
  </button>
      }

      <div class="border-t border-gray-700"></div>

      <button
        class="w-full text-left px-4 py-2 text-sm text-gray-400 hover:bg-gray-800"
        (click)="logout()"
      >
      <i class="bi bi-box-arrow-right"></i>
      Logout
     
      </button>
    </div>
  }
</div>
        }
        @else{
        <div class="flex items-center gap-2">
          <button class="cw-btn-secondary" [routerLink]="['/' + APP_ROUTES.signup]">Sign Up</button>
          <button class="cw-btn-primary" [routerLink]="['/' + APP_ROUTES.login]">Sign In</button>
        </div>}
      </div>
    </div>
  </div>
</nav>

