<aside class=" bg-gray-950 p-6 flex flex-col justify-between relative min-h-screen mt-14">

  <div>
    <div class="flex gap-2 mb-8">
  <a [routerLink]="APP_Routes.home" class="cw-li-navbar">
    <span class="bi bi-arrow-left">  Back Home</span>
  </a>
</div>
   
    <!-- User info -->
     @if(user){
        <div class="flex flex-col items-center gap-2 mb-10">
      <img
        [src]="user.profile_picture_url || '/assets/avatar.png'"
        class="w-12 h-12 rounded-full object-cover"
      />
      <div>
        <p class="text-sm font-medium">{{ user.full_name }}</p>
        <p class="text-xs text-gray-400">{{ user.email }}</p>
      </div>
    </div>
     }
    

    <!-- Menu -->
    <nav class="flex flex-col  gap-4 text-extrabold pt-12">
     <button
  class="cw-li-navbar"
  (click)="selectSection('profile')"
>
  <span class="bi bi-person"></span> Profile Details
</button>

<button
  class="cw-li-navbar"
  (click)="selectSection('preferences')"
>
  <span class="bi bi-sliders"></span> Preferences
</button>

<button
  class="cw-li-navbar"
  (click)="selectSection('help')"
>
  <span class="bi bi-info-circle"></span> Help & Support
</button>
    </nav>
  </div>

  <!-- Bottom logout -->
  <button
  class="flex items-center gap-2 text-red-400 hover:text-red-300 mt-6"
  (click)="onLogoutClick()"
>
  </button>
</aside>
