<div class="table-wrapper">
  <table class="w-full text-base">
    <thead>
      <tr>
        @for (header of headers; track $index) {
          <th
            [class.text-left]="header.align === 'left' || !header.align"
            [class.text-center]="header.align === 'center'"
            [class.text-right]="header.align === 'right'"
          >
            {{ header.label }}
          </th>
        }
      </tr>
    </thead>
    <tbody class="text-gray-200">
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
