@if (isSidebarOpen() && selectedShowtimeId() && selectedMovie()) {
  <app-showtime-sidebar
    [showtimeId]="selectedShowtimeId()!"
    [movie]="selectedMovie()!"
    (onClose)="closeSidebar()"
  ></app-showtime-sidebar>
}
<div class="container py-5" [class.blur-bg]="isSidebarOpen()">
  <button
    class="btn btn-outline-light d-flex align-items-center gap-2 mx-2 my-4"
    (click)="goBack()"
  >
    <i class="bi bi-arrow-left"></i>
    Back to Cinemas
  </button>
  @if (error()) { ... } @if (isLoading()) { ... } @if (hasValue() && cinema(); as c) {
    <h1 class="cinema-title mt-2 mb-0 p-4">{{ c.name }}</h1>
    <p class="text-secondary px-4">
      <i class="bi bi-geo-alt-fill"></i> {{ c.address }}, {{ c.city }}
    </p>
    <app-movies-list [cinemaId]="c.id"></app-movies-list>

    <div class="mt-4">
      <div #showtimes class="mt-4">
        @defer (on viewport(showtimes) ; prefetch on idle) {
          <app-showtimes
            [cinemaId]="c.id"
            (onShowtimeClick)="openSidebar($event)"
          ></app-showtimes>
        }
      </div>
    </div>
  }
</div>
